.m-menu
    .m-logo.mm-navbar
        a(href="./").mm-navbar__title
            img(src="./images/icon/logo.svg", alt="logo")
    ul.mm-listview
        li.mm-listitem
            a(href="#") Кинотеатр
        li.mm-listitem
            a(href="#") Афиша
        li.mm-listitem
            a(href="#") Ресторан
        li.mm-listitem
            a(href="#") Конференц зал
        li.mm-listitem
            a(href="#") Новости
        li.mm-listitem
            a(href="#") Подменю
        li.mm-listitem
            a(href="#") Подменю
        li.mm-listitem
            a(href="#") Подменю
    .mm-navbars_bottom
        .social
            a(href="#").social__link
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.375 0H5.625C2.51888 0 0 2.51888 0 5.625V12.375C0 15.4811 2.51888 18 5.625 18H12.375C15.4811 18 18 15.4811 18 12.375V5.625C18 2.51888 15.4811 0 12.375 0ZM16.3125 12.375C16.3125 14.5463 14.5463 16.3125 12.375 16.3125H5.625C3.45375 16.3125 1.6875 14.5463 1.6875 12.375V5.625C1.6875 3.45375 3.45375 1.6875 5.625 1.6875H12.375C14.5463 1.6875 16.3125 3.45375 16.3125 5.625V12.375ZM9 4.50001C6.51487 4.50001 4.5 6.51488 4.5 9.00001C4.5 11.4851 6.51487 13.5 9 13.5C11.4851 13.5 13.5 11.4851 13.5 9.00001C13.5 6.51488 11.4851 4.50001 9 4.50001ZM9 11.8125C7.44975 11.8125 6.1875 10.5503 6.1875 9.00001C6.1875 7.44863 7.44975 6.18751 9 6.18751C10.5502 6.18751 11.8125 7.44863 11.8125 9.00001C11.8125 10.5503 10.5502 11.8125 9 11.8125ZM14.4371 4.16246C14.4371 4.49362 14.1687 4.76208 13.8375 4.76208C13.5063 4.76208 13.2379 4.49362 13.2379 4.16246C13.2379 3.8313 13.5063 3.56284 13.8375 3.56284C14.1687 3.56284 14.4371 3.8313 14.4371 4.16246Z" fill="white"/>
                </svg>
            a(href="#").social__link
                <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80669 11.6334H9.88262C9.88262 11.6334 10.2076 11.5956 10.3735 11.4061C10.5263 11.2322 10.5214 10.9056 10.5214 10.9056C10.5214 10.9056 10.5004 9.37651 11.1704 9.15134C11.8309 8.92953 12.6791 10.6292 13.5781 11.2827C14.2579 11.7773 14.7745 11.6688 14.7745 11.6688L17.1783 11.6334C17.1783 11.6334 18.4358 11.5513 17.8396 10.5042C17.7907 10.4185 17.4923 9.72953 16.0523 8.31381C14.5451 6.8321 14.7469 7.07176 16.5625 4.50871C17.6683 2.9478 18.1103 1.99484 17.9722 1.58669C17.8405 1.19795 17.0273 1.3007 17.0273 1.3007L14.3207 1.31856C14.3207 1.31856 14.1201 1.28957 13.9713 1.38378C13.8259 1.47618 13.7323 1.69151 13.7323 1.69151C13.7323 1.69151 13.3039 2.8994 12.7326 3.92664C11.5274 6.09421 11.0455 6.20861 10.8486 6.07403C10.3904 5.76034 10.5048 4.81386 10.5048 4.14146C10.5048 2.04091 10.8056 1.16508 9.91903 0.938359C9.62482 0.863044 9.40831 0.813352 8.65592 0.805328C7.6902 0.794717 6.87281 0.808434 6.40999 1.04861C6.10209 1.2083 5.86457 1.56417 6.00923 1.58462C6.1881 1.60998 6.59326 1.70031 6.80805 2.01011C7.0854 2.40972 7.07563 3.30729 7.07563 3.30729C7.07563 3.30729 7.23495 5.78001 6.70346 6.08723C6.33863 6.2979 5.83818 5.86775 4.76372 3.90127C4.21317 2.89397 3.79751 1.78054 3.79751 1.78054C3.79751 1.78054 3.71736 1.57246 3.5744 1.46117C3.40091 1.32632 3.1585 1.28336 3.1585 1.28336L0.586584 1.30122C0.586584 1.30122 0.200492 1.31261 0.0587613 1.49041C-0.0673297 1.64855 0.0487424 1.97569 0.0487424 1.97569C0.0487424 1.97569 2.06229 6.96513 4.34219 9.47952C6.43271 11.7848 8.80669 11.6334 8.80669 11.6334Z" fill="white"/>
                </svg>
header.header
    .header-top
        .wrapper
            .header-top__column.header-top__social
                .social
                    a(href="#").social__link
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.375 0H5.625C2.51888 0 0 2.51888 0 5.625V12.375C0 15.4811 2.51888 18 5.625 18H12.375C15.4811 18 18 15.4811 18 12.375V5.625C18 2.51888 15.4811 0 12.375 0ZM16.3125 12.375C16.3125 14.5463 14.5463 16.3125 12.375 16.3125H5.625C3.45375 16.3125 1.6875 14.5463 1.6875 12.375V5.625C1.6875 3.45375 3.45375 1.6875 5.625 1.6875H12.375C14.5463 1.6875 16.3125 3.45375 16.3125 5.625V12.375ZM9 4.50001C6.51487 4.50001 4.5 6.51488 4.5 9.00001C4.5 11.4851 6.51487 13.5 9 13.5C11.4851 13.5 13.5 11.4851 13.5 9.00001C13.5 6.51488 11.4851 4.50001 9 4.50001ZM9 11.8125C7.44975 11.8125 6.1875 10.5503 6.1875 9.00001C6.1875 7.44863 7.44975 6.18751 9 6.18751C10.5502 6.18751 11.8125 7.44863 11.8125 9.00001C11.8125 10.5503 10.5502 11.8125 9 11.8125ZM14.4371 4.16246C14.4371 4.49362 14.1687 4.76208 13.8375 4.76208C13.5063 4.76208 13.2379 4.49362 13.2379 4.16246C13.2379 3.8313 13.5063 3.56284 13.8375 3.56284C14.1687 3.56284 14.4371 3.8313 14.4371 4.16246Z" fill="white"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.80669 11.6334H9.88262C9.88262 11.6334 10.2076 11.5956 10.3735 11.4061C10.5263 11.2322 10.5214 10.9056 10.5214 10.9056C10.5214 10.9056 10.5004 9.37651 11.1704 9.15134C11.8309 8.92953 12.6791 10.6292 13.5781 11.2827C14.2579 11.7773 14.7745 11.6688 14.7745 11.6688L17.1783 11.6334C17.1783 11.6334 18.4358 11.5513 17.8396 10.5042C17.7907 10.4185 17.4923 9.72953 16.0523 8.31381C14.5451 6.8321 14.7469 7.07176 16.5625 4.50871C17.6683 2.9478 18.1103 1.99484 17.9722 1.58669C17.8405 1.19795 17.0273 1.3007 17.0273 1.3007L14.3207 1.31856C14.3207 1.31856 14.1201 1.28957 13.9713 1.38378C13.8259 1.47618 13.7323 1.69151 13.7323 1.69151C13.7323 1.69151 13.3039 2.8994 12.7326 3.92664C11.5274 6.09421 11.0455 6.20861 10.8486 6.07403C10.3904 5.76034 10.5048 4.81386 10.5048 4.14146C10.5048 2.04091 10.8056 1.16508 9.91903 0.938359C9.62482 0.863044 9.40831 0.813352 8.65592 0.805328C7.6902 0.794717 6.87281 0.808434 6.40999 1.04861C6.10209 1.2083 5.86457 1.56417 6.00923 1.58462C6.1881 1.60998 6.59326 1.70031 6.80805 2.01011C7.0854 2.40972 7.07563 3.30729 7.07563 3.30729C7.07563 3.30729 7.23495 5.78001 6.70346 6.08723C6.33863 6.2979 5.83818 5.86775 4.76372 3.90127C4.21317 2.89397 3.79751 1.78054 3.79751 1.78054C3.79751 1.78054 3.71736 1.57246 3.5744 1.46117C3.40091 1.32632 3.1585 1.28336 3.1585 1.28336L0.586584 1.30122C0.586584 1.30122 0.200492 1.31261 0.0587613 1.49041C-0.0673297 1.64855 0.0487424 1.97569 0.0487424 1.97569C0.0487424 1.97569 2.06229 6.96513 4.34219 9.47952C6.43271 11.7848 8.80669 11.6334 8.80669 11.6334Z" fill="white"/>
                        </svg>
            .header-top__column
                .phone
                    .contact-ico
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7463 1.00292L4.57028 3.41872C4.81028 3.70861 4.76228 4.09514 4.57028 4.33672L3.3223 5.59294C2.7463 6.12441 6.68225 10.0863 7.21025 9.55484L8.45823 8.29863C8.69823 8.05705 9.13022 8.05705 9.37022 8.25031L11.7702 10.0863C12.0582 10.3279 12.0582 10.6661 11.8662 10.9077L10.5222 12.2605L10.3782 12.4055C8.69823 14.0482 4.47428 11.0043 3.1783 9.69979C1.88232 8.34694 -1.18965 4.09514 0.490333 2.40408L0.634331 2.30745L1.93031 0.954603C2.17031 0.713023 2.55431 0.761339 2.7463 1.00292Z" fill="white"/>
                        </svg>
                    a(href="tel:340040") 340-040
                    .contact-ico.phone__toggle-modal
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 4.70002L8.88906 0.830933L10 1.93616L5 6.91048L0 1.93616L1.11094 0.830933L5 4.70002Z" fill="white"/>
                        </svg>
                    .phone__modal
                        .phone
                            .contact-ico
                                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7463 0.355092L4.57028 2.77089C4.81028 3.06079 4.76228 3.44731 4.57028 3.68889L3.3223 4.94511C2.7463 5.47659 6.68225 9.4385 7.21025 8.90702L8.45823 7.6508C8.69823 7.40922 9.13022 7.40922 9.37022 7.60249L11.7702 9.4385C12.0582 9.68007 12.0582 10.0183 11.8662 10.2599L10.5222 11.6127L10.3782 11.7577C8.69823 13.4004 4.47428 10.3565 3.1783 9.05197C1.88232 7.69912 -1.18965 3.44731 0.490333 1.75626L0.634331 1.65962L1.93031 0.306776C2.17031 0.0651962 2.55431 0.113512 2.7463 0.355092Z" fill="#00A0E3"/>
                                </svg>
                            a(href="tel:+73830002202") +7 (383) 000-22-02
    .header-bottom
        .wrapper
            .logo
                .hamburger 
                    .hamburger__box 
                        span.hamburger__inner 
                a(href="./")
                    img(src="./images/icon/logo.svg", alt="logo")
            nav.menu
                ul
                    li
                        a(href="#") Кинотеатр
                    li
                        a(href="#") Афиша
                    li
                        a(href="#") Ресторан
                    li
                        a(href="#") Конференц зал
                    li
                        a(href="#") Новости
                    li.menu-additional
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
section.breadcrumbs
    .wrapper
        a(href="./") Главная
        img(src="./images/icon/breadcrumbs.svg", alt="arrow")
        a(href="#").active Афиша
section.films.wrapper
    h1 Афиша
    .films__wrap
        .films__links
            a(href="#0").now.active ИДУТ СЕЙЧАС
            a(href="#0").soon Скоро в прокате
            a(href="#0").archive Архив фильмов
        .films__now.active
            .films__block
                .poster__img
                    img(src="./images/decor/poster-1.jpg", alt="poster")
                    a(href="#")
                        span Полное погружение
            .films__block
                .poster__img
                    img(src="./images/decor/poster-2.jpg", alt="poster")
                    a(href="#")
                        span Искуственный интеллект
            .films__block
                .poster__img
                    img(src="./images/decor/poster-3.jpg", alt="poster")
                    a(href="#")
                        span Взаперти
            .films__block
                .poster__img
                    img(src="./images/decor/poster-4.jpg", alt="poster")
                    a(href="#")
                        span Цой
            .films__block
                .poster__img
                    img(src="./images/decor/poster-5.jpg", alt="poster")
                    a(href="#")
                        span Питер Пэн и Алиса в стране чудес
            .films__block
                .poster__img
                    img(src="./images/decor/poster-6.jpg", alt="poster")
                    a(href="#")
                        span Страна грез
            .films__block
                .poster__img
                    img(src="./images/decor/poster-7.jpg", alt="poster")
                    a(href="#")
                        span Бег
            .films__block
                .poster__img
                    img(src="./images/decor/poster-8.jpg", alt="poster")
                    a(href="#")
                        span Афера по-голливудски
            .films__block
                .poster__img
                    img(src="./images/decor/poster-9.jpg", alt="poster")
                    a(href="#")
                        span Союз зверей. Спасение двуногих
            .films__block
                .poster__img
                    img(src="./images/decor/poster-10.jpg", alt="poster")
                    a(href="#")
                        span Каха 
            .films__block
                .poster__img
                    img(src="./images/decor/poster-11.jpg", alt="poster")
                    a(href="#")
                        span Смертельные иллюзии
            .films__block
                .poster__img
                    img(src="./images/decor/poster-12.jpg", alt="poster")
                    a(href="#")
                        span Колдовство
            .films__link
                a(href="#0").films__more 
                    img(src="./images/icon/more.svg", alt="more")
                    span Показать еще
        .films__soon
            .films__block
                .poster__img
                    img(src="./images/decor/poster-10.jpg", alt="poster")
                    a(href="#")
                        span Каха 
            .films__block
                .poster__img
                    img(src="./images/decor/poster-11.jpg", alt="poster")
                    a(href="#")
                        span Смертельные иллюзии
            .films__block
                .poster__img
                    img(src="./images/decor/poster-12.jpg", alt="poster")
                    a(href="#")
                        span Колдовство
            .films__link
                a(href="#0").films__more 
                    img(src="./images/icon/more.svg", alt="more")
                    span Показать еще
        .films__archive
            .films__block
                .poster__img
                    img(src="./images/decor/poster-1.jpg", alt="poster")
                    a(href="#")
                        span Полное погружение
            .films__block
                .poster__img
                    img(src="./images/decor/poster-2.jpg", alt="poster")
                    a(href="#")
                        span Искуственный интеллект
            .films__block
                .poster__img
                    img(src="./images/decor/poster-3.jpg", alt="poster")
                    a(href="#")
                        span Взаперти
            .films__block
                .poster__img
                    img(src="./images/decor/poster-4.jpg", alt="poster")
                    a(href="#")
                        span Цой
            .films__block
                .poster__img
                    img(src="./images/decor/poster-5.jpg", alt="poster")
                    a(href="#")
                        span Питер Пэн и Алиса в стране чудес
            .films__block
                .poster__img
                    img(src="./images/decor/poster-6.jpg", alt="poster")
                    a(href="#")
                        span Страна грез
            .films__link
                a(href="#0").films__more 
                    img(src="./images/icon/more.svg", alt="more")
                    span Показать еще
footer.footer
    .footer-top
        .wrapper
            .footer-top__logo
                a(href="#")
                    img(src="./images/icon/logo-footer.svg", alt="logo")
            .footer-top__social
                .social
                    a(href="#").social__link
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.125 0H6.875C3.07863 0 0 3.07863 0 6.875V15.125C0 18.9214 3.07863 22 6.875 22H15.125C18.9214 22 22 18.9214 22 15.125V6.875C22 3.07863 18.9214 0 15.125 0ZM19.9375 15.125C19.9375 17.7787 17.7787 19.9375 15.125 19.9375H6.875C4.22125 19.9375 2.0625 17.7787 2.0625 15.125V6.875C2.0625 4.22125 4.22125 2.0625 6.875 2.0625H15.125C17.7787 2.0625 19.9375 4.22125 19.9375 6.875V15.125ZM11 5.50001C7.96262 5.50001 5.5 7.96263 5.5 11C5.5 14.0374 7.96262 16.5 11 16.5C14.0374 16.5 16.5 14.0374 16.5 11C16.5 7.96263 14.0374 5.50001 11 5.50001ZM11 14.4375C9.10525 14.4375 7.5625 12.8948 7.5625 11C7.5625 9.10388 9.10525 7.56251 11 7.56251C12.8947 7.56251 14.4375 9.10388 14.4375 11C14.4375 12.8948 12.8947 14.4375 11 14.4375ZM17.6454 5.08746C17.6454 5.49221 17.3173 5.82033 16.9125 5.82033C16.5078 5.82033 16.1796 5.49221 16.1796 5.08746C16.1796 4.6827 16.5078 4.35458 16.9125 4.35458C17.3173 4.35458 17.6454 4.6827 17.6454 5.08746Z" fill="white"/>
                        </svg>
                    a(href="#").social__link
                        <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4949 12.9057H12.786C12.786 12.9057 13.176 12.8607 13.3751 12.635C13.5583 12.4277 13.5525 12.0385 13.5525 12.0385C13.5525 12.0385 13.5273 10.2164 14.3313 9.94812C15.1239 9.68382 16.1417 11.7091 17.2206 12.4879C18.0363 13.0772 18.6562 12.948 18.6562 12.948L21.5408 12.9057C21.5408 12.9057 23.0498 12.808 22.3343 11.5602C22.2756 11.4581 21.9176 10.6371 20.1896 8.95012C18.3809 7.18449 18.6231 7.47008 20.8018 4.41593C22.1287 2.55593 22.6592 1.42038 22.4935 0.934023C22.3355 0.470797 21.3596 0.593235 21.3596 0.593235L18.1117 0.614515C18.1117 0.614515 17.871 0.579973 17.6924 0.692233C17.5179 0.802334 17.4056 1.05893 17.4056 1.05893C17.4056 1.05893 16.8915 2.49826 16.206 3.72233C14.7597 6.30523 14.1815 6.44154 13.9451 6.28117C13.3953 5.90738 13.5325 4.77954 13.5325 3.9783C13.5325 1.47528 13.8935 0.43163 12.8297 0.161467C12.4766 0.0717203 12.2168 0.0125063 11.3139 0.00294567C10.1551 -0.00969899 9.17419 0.00664614 8.6188 0.292847C8.24933 0.483134 7.9643 0.907192 8.1379 0.931556C8.35254 0.96178 8.83873 1.06941 9.09648 1.43858C9.4293 1.91476 9.41757 2.98431 9.41757 2.98431C9.41757 2.98431 9.60876 5.93082 8.97098 6.2969C8.53318 6.54794 7.93263 6.03537 6.64328 3.6921C5.98262 2.49178 5.48383 1.16502 5.48383 1.16502C5.48383 1.16502 5.38765 0.917061 5.2161 0.784446C5.00791 0.623767 4.71702 0.572572 4.71702 0.572572L1.63072 0.593851C1.63072 0.593851 1.16741 0.607422 0.997332 0.819297C0.846023 1.00773 0.98531 1.39756 0.98531 1.39756C0.98531 1.39756 3.40157 7.34302 6.13745 10.3392C8.64607 13.0862 11.4949 12.9057 11.4949 12.9057Z" fill="white"/>
                        </svg>
            .footer-top__adress
                .footer-top__icon
                    <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.7451 17C5.7451 17 0 9.2395 0 5.95C0 2.6639 2.57216 0 5.7451 0C8.91803 0 11.4902 2.6639 11.4902 5.95C11.4902 9.2395 5.7451 17 5.7451 17ZM5.7451 7.65C6.652 7.65 7.38655 6.88925 7.38655 5.95C7.38655 5.01075 6.652 4.25 5.7451 4.25C4.83819 4.25 4.10364 5.01075 4.10364 5.95C4.10364 6.88925 4.83819 7.65 5.7451 7.65Z" fill="#F6DA0A"/>
                    </svg>
                p г. Орск, ул. Краматорская, 8б
            .footer-top__email
                .footer-top__icon
                    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.8462 0H1.15385C0.847827 0 0.554342 0.121566 0.337954 0.337954C0.121566 0.554342 0 0.847827 0 1.15385V1.63038L7.5 6.24577L15 1.63038V1.15385C15 0.847827 14.8784 0.554342 14.662 0.337954C14.4457 0.121566 14.1522 0 13.8462 0Z" fill="#F6DA0A"/>
                        <path d="M0 3V10.3996C0 10.7056 0.121566 10.9991 0.337954 11.2155C0.554342 11.4319 0.847827 11.5535 1.15385 11.5535H13.8462C14.1522 11.5535 14.4457 11.4319 14.662 11.2155C14.8784 10.9991 15 10.7056 15 10.3996V3L7.5 7.61538L0 3Z" fill="#F6DA0A"/>
                    </svg>
                a(href="mailto:dinamika_promo@mail.ru") dinamika_promo@mail.ru
            .footer-top__phones
                .footer-top__phone
                    .footer-top__icon
                        <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.43288 0.257232L5.71285 3.25719C6.01285 3.61719 5.95285 4.09718 5.71285 4.39718L4.15287 5.95716C3.43288 6.61715 8.35282 11.5371 9.01281 10.8771L10.5728 9.31712C10.8728 9.01712 11.4128 9.01712 11.7128 9.25712L14.7127 11.5371C15.0727 11.8371 15.0727 12.2571 14.8327 12.5571L13.1528 14.2371L12.9728 14.4171C10.8728 16.457 5.59285 12.6771 3.97287 11.0571C2.35289 9.37712 -1.48706 4.09718 0.612916 1.99721L0.792914 1.87721L2.41289 0.197233C2.71289 -0.102763 3.19288 -0.0427642 3.43288 0.257232Z" fill="#F6DA0A"/>
                        </svg>
                    a(href="tel:340-040") 340-040
                    .footer-top__arrow
                        <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 3.81846L8.88906 0L10 1.09077L5 6L0 1.09077L1.11094 0L5 3.81846Z" fill="white"/>
                        </svg>
                .phone__modal
                    .phone
                        .contact-ico
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.7463 0.355092L4.57028 2.77089C4.81028 3.06079 4.76228 3.44731 4.57028 3.68889L3.3223 4.94511C2.7463 5.47659 6.68225 9.4385 7.21025 8.90702L8.45823 7.6508C8.69823 7.40922 9.13022 7.40922 9.37022 7.60249L11.7702 9.4385C12.0582 9.68007 12.0582 10.0183 11.8662 10.2599L10.5222 11.6127L10.3782 11.7577C8.69823 13.4004 4.47428 10.3565 3.1783 9.05197C1.88232 7.69912 -1.18965 3.44731 0.490333 1.75626L0.634331 1.65962L1.93031 0.306776C2.17031 0.0651962 2.55431 0.113512 2.7463 0.355092Z" fill="#00A0E3"></path>
                            </svg>
                        <a href="tel:+73830002202">+7 (383) 000-22-02</a>
    .footer-top__copyright
        .wrapper
            p © 2019–2020 site.com 
    .footer-bottom
        .wrapper
            .footer-bottom__privacy
                a(href="#") Политика конфиденциальности
                p 
                    a(href="mailto:dinamika_promo@mail.ru") dinamika_promo@mail.ru 
                    | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
            .footer-bottom__made
                .kontur-copy
                    .kontur-copy__links
                        a(href="#") Создание сайтов
                        a(href="#") Продвижение сайтов
                    .kontur-copy__logo
                        img(src="./images/icon/kontur.svg", alt="kontur")